h5 {
    color: #76838f;
}

.container-m {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
}

.imx {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

    .imx .bio {
        width: 600px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 1rem;
        border-radius: 20px;
    }

.bio .img-par {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

    .bio .img-par .group-1, .group-2, .group-3, .group-4 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
    }

    .bio .img-par img {
        width: 120px;
        height: 120px;
    }

    .bio .img-par .group-1 .name {
        font-size: 1.5rem;
        color: #000;
    }

.imx .course {
    width: 500px;
    height: 210px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    border-radius: 20px;
}

    .imx .course .course-par {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 5px;
    }

        .imx .course .course-par .c-group-1 {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

.mix {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.result {
    width: 500px;
    /*height: 350px;*/
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    border-radius: 20px;
}

    .result .result-li {
        display: flex;
        justify-content: space-between;
    }

.timetable {
    width: 600px;
    height: 350px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    border-radius: 20px;
}

@media only screen and (max-width:1480px) {
    .imx .bio {
        width: 500px;
    }
    .bio .img-par {
        gap: 1rem;
    }
    .imx .course {
        width: 450px;
        height: 210px;
    }
    .result {
        width: 450px;
    }
    .timetable {
        width: 500px;
    }
}

